<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Prosperad</display-name>
    <description>
        Webpage which allows to the user obtain products and receive benefits
        from their transactions.
    </description>
    
    <welcome-file-list>
    	<welcome-file>home/home.xhtml</welcome-file>
    </welcome-file-list>
    
</web-app>     