<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Prosperad</display-name>
    <description>
        Webpage which allows to the user obtain products and receive benefits
        from their transactions.
    </description>
    
    <!-- http://java.sun.com/developer/technicalArticles/Intl/HTTPCharset/ -->  
 	<!-- Force all forms to take only UTF-8 -->  
 	<context-param>  
 		<param-name>PARAMETER_ENCODING</param-name>  
 		<param-value>UTF-8</param-value>  
 	</context-param>
    
    <!-- Remove 'faces' from the URL's -->
    <servlet-mapping>
	    <servlet-name>Faces Servlet</servlet-name>
	    <url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<!-- Avoid parse the time date based on a timezone -->
	<context-param>
	    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
	    <param-value>true</param-value>
	</context-param>
    
    <welcome-file-list>
    	<welcome-file>home/home.xhtml</welcome-file>
    </welcome-file-list>
    
</web-app>     