/* General styles */
body {
	background-color: #ECEFE9 !important;
}

/* Modify the style for the main menu */
.navbar {
	font-size: 16px !important;
	z-index: 1001 !important;
}

/* Footer rows */
footer .row {
	width: 100% !important;
}

/* Footer links */
footer a {
	color: #000000 !important;
}

/* Trademark icon style */
#trademark-icon {
	weight: 100% !important;
	height: 40px !important;
}

/* Main menu style */
.navbar, .navbar-right {
	min-height: 65px !important;
	background-color: #97E063 !important;
}

/* Pills in the navigation bar styles */
.navbar-right>ul>li {
	min-height: 65px !important;
}

.navbar-nav>li>a {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    color: white !important;
    font-family: "Century Gothic", "Arial", "Helvetica" !important;
    font-weight: normal !important;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #FF6700 !important;
}
/* Ends pills in the navigation bar styles */

/* Styles for the carousel images */
.item {
	width: 100% !important;
	height: 380px !important;
}

/* Add carousel images styles */
.item-img {
	height: 380px !important;
	margin: auto !important;
}

/* Fix bootstrap glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';
 
  src: url("#{resource['fonts/glyphicons-halflings-regular.eot']}");
  src: url("#{resource['fonts/glyphicons-halflings-regular.eot']}&#iefix") format('embedded-opentype'),
      url("#{resource['fonts/glyphicons-halflings-regular.woff']}") format('woff'),
      url("#{resource['fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),
      url("#{resource['fonts/glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular") format('svg');
}

/* Carousel indicators radios styles */
.carousel-indicators li {
	background-color: grey !important;
}

/* Carousel indicators radios styles */
.carousel-indicators .active {
	background-color: #FF6700 !important;
}

/* Styles for the main search box */
#searchBox {
	margin-bottom: 15px !important;
}

[id=searchBoxForm\:inputSearchBox] {
	margin-top: 5px !important;
}

/* Styles for forms */
.form-control {
	min-height: 50px !important;
}

/* Styles for input groups */
.btn-default {
	background-color: #05B105 !important;
	color: white !important;
}

.btn-default:hover {
	background-color: #1B851B !important;
}

.btn {
	margin: 5px 0px !important;
}

.searchBoxButton {
	height: 50px !important;
	background-color: #97E063 !important;
	color: white !important;
	padding-top: 15px !important;
}

/* Styles for the offers' images*/
.offer-img{
	width: 100% !important;
	height: 171px !important;
	border: 1px solid #999389 !important;
	margin-bottom: 15px !importants;
	margin-top: 15px !important;
}

/* Thumbnail styles */
.thumbnail:hover {
	transform:scale(1.08) !important;
    -ms-transform:scale(1.08) !important; /* IE 9 */
    -moz-transform:scale(1.08) !important; /* Firefox */
    -webkit-transform:scale(1.08) !important; /* Safari and Chrome */
    -o-transform:scale(1.08) !important; /* Opera */
    z-index: 1000 !important;
    position: relative !important;
}

/* Home carousel styles */
#homeCarousel, #homeServiceCarousel {
	margin-bottom: 30px !important;
}

/* Margin for the goods carousel */
#goodsCarouselContainer {
	margin-right: 0px !important;
}

/* Margin for the goods carousel */
#servicesCarouselContainer {
	margin-left: 0px !important;
}

/* Styles for the subtitles */
.label-default {
    background-color: #97E063 !important;
}

/* Footer style */
footer {
    background-color: #97E063 !important;
    text-align: center !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
}

/* Footer styles icons */
.footer-img {
	height: 50px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	border: 2px solid #E9EAE9 !important;
}

/* Styles for heading panels */
.panel-default>.panel-heading {
	background-color: #97E063 !important;
	color: white !important;
}

.bs-docs-container {
	max-width: 1170px !important;	
}

#home-scroller {
	text-align: center !important;
}

/* Offer boxes */
.thumbnail {
	height: 346px;
}

.thumbnail-title {
	color: #FF6700 !important;
	line-height: 2px !important;
}

.thumbnail-price {
	color: #97E063 !important;
	font-style: italic !important;
	font-weight: bold !important;
	text-decoration: underline !important;
	line-height: 2px !important;
	vertical-align: text-bottom;
}

.thumbnail-description {
	font-style: italic !important;
	font-weight: bold !important;
}

/* Button to go back to top */
#top-link-container {
	text-align: center !important;
}

.affix {
    position: fixed !important;
    top: 6px !important;
    right: 47% !important;
    z-index: 1000 !important;
}

.well {	
    color: #ffffff !important;
    background-color: #FFCDA4 !important;
    font-weight: bold !important;
}

/* Login Styles */
#registerMeParagraph {
	text-align: center !important;
}

/* Messages styles */
.errorMessage {
	color: #FF0000 !important;
}

.successMessage {
	color: #2DA800 !important;
}

/* Input addon styles */
.input-group-addon {
	background-color: #97E063 !important;
	color: white !important;
}

/* Correct font size */
.ui-widget, .ui-column-title, 
.ui-widget-content .ui-datatable-odd,
.ui-widget-content .ui-datatable-even {
	font-size: 14px !important;
}

/* Page title */
.main-nav-header {
	width: 306px !important;	
}

/* Overwrite iframe style */
.embed-responsive {
	margin: auto !important;
	width: 100% !important;
	padding-bottom: 40% !important;
}

/* Container for the embeded video */
.video-container {
	text-align: center !important;
	margin: 10px 0px !important;
	max-height: 400px !important;
}

.video-container iframe {
	max-height: 400px !important;
}

/* Container for the growl messages */
#messages-container {
	z-index: 90000 !important;
}

/* Input text boxes for primefaces */
.ui-inputfield {
	border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	width: 100% !important;
    height: 100% !important;
}

/* Primefaces calendar */
.ui-calendar {
	padding: 0px !important;
    border-color: transparent !important;
}

/* Primefaces error state */
.ui-state-error, .ui-widget-content .ui-state-error, 
.ui-widget-header .ui-state-error {
    border: 1px solid #a8a8a8 !important;
}

#productsDataScroller .ui-corner-all, 
#userControlPanelForm\:categoriesDataScroller .ui-corner-all,
#categoriesForm\:categoriesDataScroller .ui-corner-all {
	border: 0px solid transparent !important;
}

#banksList {
	text-align: center !important;
	text-align: -webkit-center !important;
}

#home-right-pane {
	max-height: 478px !important;
	margin-bottom: 5px !important;
}

.home-right-pane-container {
	max-height: 239px !important;
	overflow: hidden !important;
}

.home-right-pane-container-head {
	height: 38px !important;
	overflow: hidden !important;
	width: 100% !important;
	background-color: #97E063 !important;
	color: white !important;
	border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    padding: 10px 15px !important;
}

.banks-title {
	font-family: inherit;
    font-size: 16px !important;
    margin: 0px;
}

.overflowless {
	max-height: 192px !important;
	overflow: hidden !important;
}

.container-separator {
	margin: 0px !important;
	border: 4px solid #97E063 !important;
}

/* Logout button container in the navbar */
#logoutBtnContainer {
	padding: 0px !important;
}

/* Logout button in the navbar */
#logoutButton {
	margin: 0px !important;
}

/* Style to get text in wine color */
.red-text {
	color: red !important;
}

/* Account manager container for the budget and bonifications */
.account-mngr-container {
	min-height: 523px !important;
}

/* Table with elements centered on X & Y axis */
#bonificationStatusTable td {
	vertical-align: middle !important;
}