/* Modify the style for the main menu */
.navbar {
	font-size: 16px !important;
}

/* Trademark icon style */
#trademark-icon {
	weight: 100% !important;
	height: 40px !important;
}

/* Main menu style */
.navbar, .navbar-right {
	min-height: 65px !important;
	background-color: #FF9923 !important;
}

/* Pills in the navigation bar styles */
.navbar-right>ul>li {
	min-height: 65px !important;
}

.navbar-nav>li>a {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    color: white !important;
    font-family: "Century Gothic", "Arial", "Helvetica" !important;
    font-weight: normal;
}

.navbar-default .navbar-nav>.active>a {
	background-color: #FF6700 !important;
}
/* Ends pills in the navigation bar styles */
